/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

h2::after {
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block;
}

h3 {
  font-size: 1.8rem;
  font-family: 'PT Sans', sans-serif;
  color: #fe4918;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.button {
  background-color: #fe4918;
  padding: 1rem 4rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  transition: all .3s ease;
  border: .2rem solid #fe4918;
}

.button.hollow {
  background-color: white;
  color: #fe4918;
}

.button.transparente {
  background-color: transparent;
  border-color: white;
}

.button.transparente:hover {
  border-color: #e33000;
}

.button:hover {
  background-color: #e33000;
}

.seccion {
  padding: 3rem 0;
}

.contenedor {
  width: 98%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
  }
}

/* Header */

.hero {
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

.contenido-header {
  padding-top: 2rem;
}

.redes-sociales {
  text-align: center;
}

.redes-sociales a {
  color: white;
  font-size: 3rem;
  margin-right: 2rem;
}


.redes-sociales a:last-of-type {
  margin-right: 0;
}

.redes-sociales a:hover {
  color: #fe4918;
  transition: all .3s ease;
}

.informacion-evento,
.nombre-sitio,
.slogan {
  text-align: center;
  color: white;
}

.informacion-evento {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 4rem auto 0;
}

.informacion-evento p {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.informacion-evento p i {
  color: #fe4918;
  font-size: 2.4rem;
}

.nombre-sitio {
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
  }
}

.slogan {
  font-size: 2rem;
}

.slogan span {
  font-weight: bold;
}

/* Barra */
.barra {
  background-color: #353535;
  padding: 2rem 0;
}

.contenido-barra {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  align-items: center;
}

@media (min-width: 768px) {
  .contenido-barra {
    display: flex;
    align-items: center;
  }
}

.logo {
  grid-column: 1 / 5;
}

.logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .logo {
    width: 50%;
  }
}

.menu-movil {
  width: 6rem;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  color: white;
}

@media (min-width: 768px) {
  .menu-movil {
    display: none;
  }
}

.navegacion-principal {
  display: none;
  flex-direction: column;
  grid-column: 1/6;
  justify-content: center;
  align-items: center;
}

.navegacion-principal a {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  transition: all .3s ease;
  padding: 1rem;
}

.navegacion-principal a:last-of-type {
  color: #fe4918;
  border: .1rem solid #fe4918;
}

.navegacion-principal a:last-of-type:hover {
  color: white;
}

.navegacion-principal a:hover {
  background-color: #fe4918;
}

@media (min-width: 768px) {
  .navegacion-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navegacion-principal a {
    margin-right: 2rem;
  }

  .navegacion-principal a:last-of-type {
    margin-right: 0;
  }
}

.descripcion-gdl {
  font-size: 2rem;
  text-align: center;
}

/* Talleres */
.programa {
  position: relative;
}

.contenedor-video {
  width: 100%;
  overflow-x: hidden;
}

.contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.programa-evento {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .programa-evento {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .programa-evento {
    width: 50%;
  }
}

.menu-programa {
  width: 100%;
  border-bottom: .1rem solid #fe4918;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .menu-programa {
    display: table;
  }
}

.menu-programa a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
  font-size: 1.9rem;
}

@media (min-width: 768px) {
  .menu-programa a {
    display: table-cell;
  }
}

.menu-programa a i {
  color: #fe4918;
  font-size: 2.3rem;
  margin-right: 1rem;
}

.info-curso {
  display: flex;
  flex-direction: column;
}

.detalle-evento {
  margin-top: 2rem;
  border-bottom: .1rem solid black;
  padding: 0 2rem;
}

.detalle-evento:last-of-type {
  border: none;
}

.detalle-evento p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.detalle-evento p i {
  color: #fe4918;
}

.info-curso .button {
  align-self: flex-end;
}

/* Invitados */
.lista-invitados {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .lista-invitados {
    grid-template-columns: repeat(3, 1fr);
  }
}

.invitado {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
}

.invitado p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  color: #fe4918;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-align: left;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}

.invitado:hover p {
  bottom: -5rem;
  opacity: 0;
}

.invitado img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out;
}

.invitado:hover img {
  filter: none;
  -webkit-transform: scale(1.1);
  -webkit-filter: none;
}

/* Contador */
.contador {
  position: relative;
  height: auto;
}

.contador::before {
  content: '';
  background-image: url(../img/bg-resumen.jpg);
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.6);
  filter: brightness(.6);
}

.resumen-evento {
  position: relative;
  padding: 12rem 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .resumen-evento {
    grid-template-columns: repeat(4, 1fr);
  }
}

.resumen-evento li {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

p.numero {
  color: #fe4918;
  margin: 0;
  font-size: 8rem;
  font-family: 'Oswald', sans-serif;
}

.lista-precios {
  display: grid;
  row-gap: 3rem;
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .lista-precios {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}

.contenido-precio {
  text-align: center;
  border: .1rem solid #e1e1e1;
  background-color: white;
  padding: 3rem 0 5rem;
  transition: all .3s ease;
}

.contenido-precio:hover {
  transform: scale(1.1);
  border: .1rem solid #fe4918;
  box-shadow: 0rem 0rem 2rem #666;
}

.contenido-precio ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.contenido-precio ul li {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #868686;
  line-height: 2.6rem;
}

.contenido-precio ul li i {
  color: green;
}

.contenido-precio h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.contenido-precio p.numero {
  color: black;
  font-family: 'Oswald', sans-serif;
  margin: 1rem 0;
}

/* Mapa */

.mapa {
  height: 40rem;
  background-color: green;
}

/* Testimoniales */

@media (min-width: 768px) {
  .testimoniales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }
}

.testimonial {
  background-color: white;
  border: .1rem solid #e1e1e1;
  margin-bottom: 2rem;
}

.comentario {
  position: relative;
  padding: 1.5rem 0 0 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 1.8rem;
  font-family: 'PT Sans', sans-serif;
}

.comillas {
  position: absolute;
  left: -2rem;
  top: .5rem;
  font-size: 2.5rem;
  color: #fe4918;
}

.info-testimonial {
  display: flex;
  margin-bottom: 1rem;
}

.info-testimonial img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
}

@media (min-width: 768px) {
  .info-testimonial img {
    width: 33%;
    height: 33%;
  }
}

.info-testimonial cite {
  align-self: center;
  margin-left: 5rem;
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

@media (min-width: 768px) {
  .info-testimonial cite {
    margin-left: 2rem;
  }
}

.info-testimonial cite span {
  color: black;
  display: block;
  text-transform: none;
}

/* Newsletter */
.newsletter {
  position: relative;
  height: auto;
}

.newsletter:before {
  background-image: url(../img/bg-newsletter.jpg);
  content: '';
}

.newsletter .contenido {
  padding: 10rem 0;
  color: black;
  text-align: center;
  position: relative;
}

.newsletter .contenido p {
  color: white;
}

.contenido h3 {
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: white;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}

.cuenta-regresiva {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

@media (min-width: 768px) {
  .cuenta-regresiva {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Cuenta Regresiva */
.cuenta-regresiva p {
  text-align: center;
}

.cuenta-regresiva p span {
  text-transform: uppercase;
  color: black;
  font-size: 1.8rem;
  display: block;
}

/*Footer*/
.site-footer {
  background-color: #353535;
  margin-top: 4rem;
  padding-top: 4rem;
}

.site-footer .contenedor {
  color: white;
}

.site-footer .contenedor>div {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .site-footer .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;

  }
}

.site-footer h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.site-footer h3 span {
  color: white;
}

.informacion-footer,
.tweets {
  text-align: justify;
}

.redes .redes-sociales {
  text-align: left;
}

.redes h3 {
  margin-bottom: 1.5rem;
}

.copyright {
  background-color: #2e2e2e;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
